<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/action_page.php">

        <h1>Register for internet banking</h1>
      
        <label for="Account number"><b>Account number</b></label>
        <input type="text" placeholder="Enter Account number" name="Account number" id="Account number" required>
    
        <label for="psw"><b>Set login Password</b></label>
        <input type="password" id="psw" name="psw"placeholder="Set login Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
        
    
        <label for="psw-repeat"><b>Confirm login Password</b></label>
       
        <input type="password" placeholder="Confirm login Password" name="Confirm login Password" id="Confirm login Password" required>
       
        <label for="psw"><b>Set transaction Password</b></label>
        <input type="password" id="psw" name="psw" placeholder="Set transaction Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
        
    
        <label for="psw-repeat"><b>Confirm transaction Password</b></label>
        
        <input type="password" placeholder="Confirm transaction Password" name="Confirm transaction Password" id="Confirm transaction Password" required>
       
        <label for="Enter OTP"><b>Enter OTP</b></label>
        <input type="text" placeholder="Enter OTP" name="Enter OTP" id="Enter OTP" required>
    
        <hr>
        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    
        <button type="submit" class="registerbtn">Submit</button>
      
      <div class="container signin">
        <p>Already have an account? <a href="login">Sign in</a>.</p>
      </div>
      
    </form>
</body>
</html>
