<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Online Banking Terms & Conditions</h1>
       <p class="mb-0">
            We hereby formulate the Terms and Conditions of Online Banking Services (the “Terms”) in order to provide you with better Online Banking Services, prevent risks inherent in the Online Banking, and specify the rights and obligations of the parties in the Online Banking. Please read the Terms carefully before you use any of our Online Banking Services. If you have any questions, please feel free to contact us, and you can browse our official website www.sc.com/cn for the nearest branch and the most up-to-date contact information.
         </p>

    <h3>Terms and Conditions of Online Banking Services</h3>
    <p class="mb-0">
        <b>I.  Scope of Application</b><br>

Terms and Conditions of Online Banking Services (as may be varied and amended from time to time, hereinafter referred to as these “Terms”) shall apply to the Online Banking Services provided by Standard Chartered Bank (China) Limited (hereinafter referred to as “We” or “Us”) and shall be legally binding on customers and us. Both customers and we shall comply with the Terms.
Before a customer applies to us for activation of Online Banking Services or uses Online Banking Services for the first time, the customer shall carefully read the Terms and fully understand relevant provisions hereof, and the customer shall have the right to require us to provide sufficient explanation about the Terms. BY APPLYING TO US FOR THE ACTIVATION OF ONLINE BANKING SERVICES OR USING ONLINE BANKING SERVICES FOR THE FIRST TIME, CUSTOMERS SHALL BE DEEMED TO HAVE CAREFULLY READ, UNDERSTOOD AND ACCEPTED THE TERMS AND AGREED TO BE BOUND HEREBY.
    </p>

    <p class="mb-0"><br>

<b>II. Provision of Services</b><br>

Customers may apply to us for the activation of Online Banking Services, and we may also activate all or part of the functions of Online Banking Services for qualified customers. Customers may use part of Online Banking Services without applications or requiring our additional operations. Customers may apply to us for the termination of certain Online Banking Services, and we have the right to accept or reject such application of the customers.
Customers may use computers, fixed-line phones, mobile phones, ATMs and other self-service bank facilities, or other electronic devices to use or operate all or part of financial services via the Internet, telephone communication networks, wireless networks, other open public networks or private networks provided by us (hereinafter referred to as “Online Banking Services” or these “Services”).
    </p>

    <p class="mb-0"><br>
   
<b>III. Content of Services</b><br>

Online Banking Services<br>
(a) Customers may enjoy Online Banking Services via our website at com/cn.<br>
(b) Online Banking Services include the Mobile Banking Services.<br>
Online Account Services for Credit Cards and Credit Card Mall Services<br>
Customers can enjoy WeChat Banking Services for credit cards via WeChat public platform developed by Shenzhen Tencent Computer System Company Limited (“Tencent”), and “Standard Chartered China” is our only WeChat public account. For the avoidance of doubt, the Terms shall not apply to the Internet Technology Service relationships between customers and Tencent, as well as between us and Tencent.
    </p>

     <p class="mb-0"><br>
    
<b>IV. Recipient of Services</b><br>

These Services are made available to:<br>

Customers who are above the age of 18, have full capacity for civil conduct and have opened saving accounts with us;<br>
Customers who have opened a Junior Savings Account and shall use Online Banking Services pursuant to the Special Terms & Conditions for Junior Savings Account of Standard Chartered Bank as well as to the Terms;
Holders of principal credit cards and supplementary credit cards issued by us; and
Potential customers intending to consult us about our products and services. 
</p>

    <p class="mb-0"><br>
  
<b>V. Function, Operation, Suspension and Termination of these Services</b><br>

Customers undertake to apply for activation of and use part or all of the functions of these Services according to the procedure (if any) specified by us.
Customers may use these Services to inquire about part/all of financial information, but such information might not be up-to-date, since some banking businesses are likely pending for our processing; unless verified and confirmed by us, we will not make any warranty with respect to the financial information queried by customers through these Services.
With respect to different Online Banking service channels, and/or different financial services, and/or different customer types, and/or other factors, we might provide different Online Banking Services; for example, in the case of a joint account, we might provide different Online Banking Services to different holders of the joint account; as for an supplementary credit card, we might provide different Online Banking Services to the holder of supplementary card and the holder of the principal card.
The specific applicable conditions of Online Banking Services, content, functions and runtime of services depend on actual operations and actual operating environment. We might formulate or modify the user manuals, guides, function introductions, announcements or notices of relevant Online Banking Services from time to time, which customers may read and consult, but if they differ from actual operations and actual operating environment of these Services, the actual operations and operating environment shall prevail.
Provisions regarding the runtime of these Services might vary with different functions under these Services, specifically subject to the actual operations and operating environment of such functions under Online Banking Services. When a customer submits a transaction instruction other than during the runtime of these Services, such instruction might be executed in the subsequent runtime.
We will take reasonably practicable actions to ensure that our Online Banking service system has sufficient security settings to control and manage risks in the operating system and provide these Services constantly, subject to the provisions of Article 8 hereof.
CUSTOMERS ACKNOWLEDGE AND AGREE THAT:<br>
(a) DUE TO THE NEED FOR REGULAR MAINTENANCE AND OTHER REASONS, WE WILL HAVE THE RIGHT AT ANY TIME TO GIVE A NOTICE TO UNILATERALLY (1) ADD, DELETE, MODIFY OR SUSPEND ANY AVAILABLE FUNCTIONS OR THE CONTENT OF THESE SERVICES; (2) CHANGE THE RUNTIME; OR (3) SUSPEND, OR TERMINATE PART/ALL OF THESE SERVICES. UNLESS OTHERWISE PROVIDED BY LAW, WE WILL NOT BE LIABLE FOR LOSSES CAUSED BY THE FOREGOING ACTIONS.<br>
(b) UNLESS OTHERWISE PERMITTED BY US, CUSTOMERS MIGHT BE UNABLE TO SUSPEND OR TERMINATE SOME FUNCTIONS OF THE ONLINE BANKING SERVICES.<br>
(c) Modification, suspension and termination of these Services might have no effect on customer instructions we have received, which are likely to remain in effect.<br>
</p>

<p class="mb-0"><br>
    
<b>VI. Identity Verification</b><br>

We may require different methods of identity verification (hereinafter referred to as “Identity Verification Information”) for different Online Banking service channels, and/or different financial transactions, and/or other security considerations, including but not limited to one or more of the following identity verification methods:<br>
Various Online Banking service passwords, including but not limited to Phone Banking password, Online Banking password, query password, transaction password, and electronic advice password (also called “Login Code” in some cases), which are hereinafter collectively referred to as “Online Banking Service Passwords” or simply “Passwords”;<br>
Verification Codes;<br>
Fingerprint identification passwords;<br>
Face identification passwords;<br>
Preset security questions and answers;<br>
Personal information (the usernames, Phone Banking user numbers, debit card numbers, credit card numbers, expiry dates, CVV2 codes, ID documents and ID numbers, mobile phone numbers, fixed-line phone numbers, correspondence addresses and other customer information relating to these Services and used for verifying customers’ identity, which are set by customers/us, and/or recorded in databases of government departments/databases of other banks/other commercial databases).
We may add, delete or change identity verification methods from time to time.<br>

AS FOR FINANCIAL SERVICES REQUIRING NO IDENTITY VERIFICATION, CUSTOMERS ACKNOWLEDGE THE RESULTING CONVENIENCE AND FLEXIBILITY AND ARE AWARE OF AND WILLING TO ASSUME RELEVANT RISKS THAT MIGHT ARISE.<br>
Customers must comply with our requirements and use the Online Banking Services through the identity verification method required by us or set by customers. ALL OPERATIONS PERFORMED AND PASSED BY IDENTITY VERIFICATION UNDER THE ONLINE BANKING SERVICES (INCLUDING ANY ONE OR MORE ITEMS OF ACCURATE IDENTITY VERIFICATION INFORMATION SUFFICIENT TO PROVE A CUSTOMER’S IDENTITY) WILL BE DEEMED AS BEING PERFORMED BY THE CUSTOMER HIM/HERSELF AND ARE THE TRUE INTENTION OF THE CUSTOMER, AND THERE IS NO NEED TO GET ANY FURTHER WRITTEN OR OTHER FORM OF CONFIRMATION FROM THE CUSTOMER, EVEN IF SUCH OPERATIONS ARE SUBSEQUENTLY PROVED TO BE ACTUALLY NOT PERFORMED BY THE CUSTOMER IN PERSON.<br>
When a customer dials our Phone Banking number or receives a call from our Phone Banking number, we may require the customer to verify his/her identity via Phone Banking password or query password (in the case of a credit card) or preset security questions, and the customer shall cooperate in the verification process.<br>
As for certain financial services, we may unilaterally decide to ask a customer to use a mobile verification code (a one-time password generated and sent by us to the mobile number registered by the customer with us, hereinafter referred to as “Verification Code”) to go through additional identity verification. CUSTOMERS CLEARLY UNDERSTAND THAT IF THE MOBILE PHONE USED FOR VERIFICATION OR THE MOBILE NUMBER REGISTERED WITH US IS LOST, STOLEN OR GOES OUT OF ACTUAL CONTROL OF CUSTOMERS, THIS MIGHT RESULT IN LEAKAGE OF IDENTITY VERIFICATION INFORMATION AND LOSS OF CUSTOMERS’ FUNDS.<br>
In case the Identity Verification Information input by a customer in his/her use of relevant Online Banking Services is inconsistent with the information recorded by us, we shall have the right to freeze relevant Identity Verification Information (such as passwords), accounts and services of the customer, till the customer completes the identity verification, resets or modifies the relevant Identity Validation Information pursuant to relevant requirements of us.<br>
Customers may modify part of Identity Verification Information under these Services, but any such modification must be made pursuant to relevant requirements of us and shall not become effective until accepted by us. We shall have the right to perform identity verification of a customer before executing the customer’s instruction to modify his/her Identity Verification Information.<br>
</p>

<p class="mb-0"><br>
    
<b>VII. Authorization and Operation of Instructions</b><br>

Customers warrant that instructions given in connection with these Services are accurate, adequate and complete. Unless customers have received our confirmation of receipt of such instructions, we shall not be deemed to have received such instructions. After receiving customers’ instructions through these Services, we shall have the right to deduct relevant specified fees from customer accounts before executing relevant instructions.<br>
CUSTOMERS UNDERSTAND AND AGREE THAT, UNLESS OTHERWISE PERMITTED BY US AND EXCEPT WHERE IT IS ACTUALLY PRACTICABLE, INSTRUCTIONS SENT BY CUSTOMERS THROUGH THESE SERVICES CANNOT BE WITHDRAWN OR REVOKED.<br>
If customers require us to have the instructions withdrawn or revoked upon submission by them, we may (but have no obligation to) decide whether to effect such withdrawal or revocation in our sole discretion, and customers agree to bear all the costs and expenses incurred in such process. WE CAN EFFECT WITHDRAWAL OR REVOCATION ONLY TO THE EXTENT THAT WE CAN PRACTICALLY DO SO (FOR EXAMPLE, PERMITTED BY THE SYSTEM), AND WE DO NOT WARRANT SUCCESSFUL WITHDRAWAL OR REVOCATION.<br>
IF WE THINK THAT WE HAVE RECEIVED AN INSTRUCTION NOT DULY AUTHORISED BY THE CUSTOMER, WE MIGHT USE A REASONABLE METHOD TO INSPECT WHETHER SUCH INSTRUCTION HAS BEEN AUTHORISED BY THE CUSTOMER, WHILE THE CUSTOMER SHALL COOPERATE.<br>
IF WE REASONABLY SUSPECT THAT AN INSTRUCTION RECEIVED HAS NOT BEEN DULY AUTHORISED BY THE RELEVANT CUSTOMER, OR THE CONTENT OF THE INSTRUCTION RECEIVED BY US IS INCONSISTENT WITH THE INFORMATION RECORDED WITH US, OR THE IDENTITY VERIFICATION INFORMATION WE RECEIVE IS INCONSISTENT WITH OUR RECORDS, WE MAY:<br>
(a) REFUSE TO EXECUTE OR REVOKE THE INSTRUCTION SUBMITTED THROUGH THESE SERVICES; AND/OR<br>
(b) REQUIRE THE CUSTOMER TO PROVIDE A WRITTEN CONFIRMATION IN THE CASE OF A SPECIAL INSTRUCTION.<br>
THE CUSTOMER SHALL UNDERSTAND AND AGREE THAT WE TAKE THE FOREGOING ACTIONS FOR THE SAKE OF TRANSACTION SECURITY, AND ACCEPT ANY INCONVENIENCE, DELAY OR LOSS ARISING THEREFROM.<br>

IN CASE ANY OF THE FOLLOWING CIRCUMSTANCES ARISES ON THE DESIGNATED EXECUTION DATE OR WHEN THE RELEVANT TRANSACTION IS PERFORMED, WE SHALL HAVE NO OBLIGATION TO EXECUTE THE TRANSACTION INSTRUCTION OF THE CUSTOMER IN WHOLE OR IN PART, AND THE CUSTOMER MIGHT SUFFER RELEVANT LOSS OR DAMAGE:<br>
(a) There are no sufficient funds in the designated account of the customer so that we cannot execute the instruction of the customer;<br>
(b) There are no sufficient funds in the designated account to pay any fee, expense or other sums payable by the customer to us;<br>
(c) Execution of the customer’s instruction will result in the balance in the designated account of the customer exceeding the credit amount or credit limit set by us with respect to the customer and/or his/her designated account;<br>
(d) The transaction amount required in the customer’s transaction instruction will exceed the limit and number of transactions set by us and/or the customer with respect to the customer and/or his/her designated account; or<br>
(e) The designated account of the customer is closed, frozen or made unusable for any reason.<br>
IF AN ERROR OCCURS TO A TRANSACTION INSTRUCTION WHEN WE ARE EXECUTING IT, THE RELEVANT CUSTOMER SHALL CONTACT US WITHIN 30 DAYS AFTER THE DATE WHEN THE CUSTOMER KNOWS OR OUGHT TO KNOW THAT SUCH ERROR OCCURS, OTHERWISE THE CUSTOMER SHALL BE DEEMED TO HAVE ACKNOWLEDGED AND ACCEPTED OUR EXECUTION, AND SHALL ASSUME THE RELEVANT CONSEQUENCES ARISING THEREFROM.<br>
Pursuant to the provisions of relevant laws and regulations, if a customer makes payment through these Services (THE CUSTOMER’S ACT OF GIVING PAYMENT INSTRUCTIONS TO REALIZE CURRENCY PAYMENT AND FUND TRANSFER VIA ONLINE BANKING AND PHONE BANKING, ETC, HEREINAFTER REFERRED TO AS “ONLINE PAYMENT”), the customer shall comply with the following provisions:<br>
(a) The customer shall activate the Online Payment function under these Services pursuant to the procedure (if any) specified by us and designate the account used for Online Payment;<br>
(b) The customer understands and accepts that some Online Banking Services have contained the Online Payment function, so after such Online Banking Services are activated, we shall have the right (rather than obligation) to obtain separate confirmation of the customer to activate the Online Payment function in such Online Banking Services;<br>
(c) The customer shall ensure the payment ability of the account used to process the Online Payment business; and<br>
(d) Unless otherwise permitted by us, all Online Payment transaction instructions shall go through identity verification.<br>
</p>

<p class="mb-0"><br>
    
<b>VIII. Risk Warning and Liability Provisions</b><br>

1 Customers clearly understand and agree that the use of Online Banking Services, such as the transmission of instructions, information or communications via the Internet, telephone communication networks, wireless networks, other open public networks or private networks will increase the risks of error, security, privacy and fraud, including but not limited to the following:<br>
2 Any error, delay or time difference during the transmission of instructions or notices;<br>
3 Negligence or omission to execute any order or requirement set forth in instructions or notices;<br>
4 Existence of any unclearness in instructions or notices or our possible misunderstanding of the content of such instructions or notices;<br>
5 Any misuse of customers’ systems by customers or other persons;<br>
6 The risk that any third party acquires personal information of customers or uses accounts of customers through these Services due to any reason attributable to customers;<br>
7 Any of our misunderstandings or errors in terms of identity verification;<br>
8 The risk that instructions pass our identity verification and are deemed to be submitted by customers personally but they are actually submitted by others using customers’ usernames, passwords or Verification Codes and are executed;<br>
9 The risk that instructions or notices alleged to be given by customers while are actually not authorised by customers; and/or<br>
10 Any fraud or imposture by any person.<br>
CUSTOMERS UNDERSTAND AND AGREE THAT, WE WILL NOT MAKE ANY REPRESENTATION OR WARRANTY REGARDING THE RELIABILITY OF ANY INSTRUCTION OR NOTICE UNDER THESE SERVICES, OR ASSUME LIABILITY FOR ANY ERROR, LACK OF RELIABILITY OR SECRET LEAKAGE IN ANY SUCH INSTRUCTION OR NOTICE. NEVERTHELESS, CUSTOMERS ARE WILLING TO ACCEPT RELEVANT RISKS AND BE BOUND BY SUCH INSTRUCTIONS OR NOTICES. WE SHALL NOT BE HELD LIABLE FOR THE LOSSES OR DAMAGES SUFFERED BY CUSTOMERS OR ANY THIRD PARTY, EXCEPT DUE TO OUR WILLFUL MISCONDUCT OR GROSS NEGLIGENCE.<br>

IF CUSTOMERS ACCESS THESE SERVICES THROUGH ANY THIRD PARTY SERVICE NOT CONTROLLED BY US OR ACCESS SUCH THIRD PARTY SERVICE THROUGH THESE SERVICES, OR OBTAIN VERIFICATION CODES OR OTHER ONLINE BANKING SERVICE PASSWORDS THROUGH ANY SERVICE NOT CONTROLLED BY US, OR SUFFER ANY LOSSES DUE TO THE USE OF SUCH THIRD PARTY SERVICE, WE SHALL NOT BE HELD LIABLE. Customers should assert their relevant rights against third party service providers pursuant to the terms and conditions of service of such third parties.<br>
Daily maximum amount of transactions through Online Banking (“Daily Maximum Limit”) for each customer is as below.<br>
a. Personal Banking Customers: CNY 100,000<br>
b. Premium Banking Customers: CNY 200,000<br>
c. Priority Banking & Priority Private Wealth Customers: CNY 1,000,000<br>
The amount of single remittance and cumulative amount of remittance per day through Online Banking Global Link Fund Transfer service or Overseas Telegraphic Transfer service for each customer cannot exceed limits is as below:<br>
a. Personal Banking Customers: CNY 100,000 equivalent.<br>
b. Premium Banking Customers: CNY 200,000 equivalent.<br>
c. Priority Banking & Priority Private Wealth Customers: CNY 300,000 equivalent.<br>
Cumulative amount of Intra-bank Fund Transfer and Interbank Fund Transfer to 3rd party (i.e., “To a Local Account” transfers), CUP Online Payment, Bill Payment (i.e., “Pay Bills” transfers) and Global Link Fund Transfer service per day cannot exceed Daily Maximum Limit. The total transactions of Intra-bank Fund Transfer to 3rd party and Interbank Fund Transfer per day cannot exceed 10. Yearly Maximum Limit of transactions through Online Banking is calculated as numbers of calendar days in the current year multiple Daily Maximum Limit. The above mentioned transaction limits should be the limits on the provision published date; we might vary the limits from time to time, the actual limits shall be subject to actual operations and operational environment under Online Banking Services.<br>
For Chinese resident, amount of single overseas remittance and cumulative amount of overseas remittance per day through our Bank (including but not limited to counter, online Banking) cannot exceed USD 50,000 or FCY equivalent.<br>
You can customize your daily transaction limit in this “Change Funds Transfer Limit” section. The limit can be adjusted to any amount below or equal to the Maximum Limit.<br>
If you would like to increase New Daily Limit above Existing Limit, you will be required to pass One-Time Password (OTP) verification.<br>
To avoid transaction failure, please ensure that the daily transaction limit is above amount of transactions to be submitted.<br>
Customer understands and agrees that Bank may suspend or terminated all / part of Online Banking Services for risk control purposes.<br>
</p>

            <p class="mb-0"><br> 
   
                 <b>IX. Security Guarantee</b><br>

                 1 Customers shall properly keep their mobile phones used to receive Verification Codes (hereinafter referred to as “Mobile Phones for Verification”), Identity Verification Information, electronic advice passwords (if any) sent by us to the email boxes designated by customers, and so on.<br>
                 2  Customers are aware that they might suffer losses for any leakage of their Identity Verification Information to others. CUSTOMERS AGREE TO BEAR RELEVANT RISKS THAT THEIR IDENTITY VERIFICATION INFORMATION MIGHT BE USED BY UNAUTHORISED PERSONS OR USED FOR UNAUTHORISED PURPOSES, AND BEAR RELEVANT LOSSES CAUSED BY THE LEAKAGE OF SUCH INFORMATION.<br>
                 3  Once a customer knows or suspects that his/her Identity Verification Information is known to any unauthorised person, the Mobile Phone for Verification is lost, or any unauthorised person uses these Services impersonating the customer, the customer shall notify us by dialling the telephone number designated by us, and require us to suspend or terminate all/part of Online Banking Services (to the extent that such services can be suspended or terminated). EXCEPT WHERE WE HAVE WILLFUL MISCONDUCT OR GROSS NEGLIGENCE, BEFORE WE ACCEPT THE CUSTOMER’S SUSPENSION OR TERMINATION INSTRUCTION, WE WILL NOT BE HELD LIABLE FOR ANY LOSS ARISING BECAUSE ANY UNAUTHORISED PERSON USES THESE SERVICES IMPERSONATING THE CUSTOMER OR THESE SERVICES ARE USED FOR UNAUTHORISED PURPOSES.<br>
                 4  Customers shall modify their Online Banking service passwords on a regular basis or as required by the system, and do not use any Online Banking service password that had ever been used.<br>
                 5  When a customer sets or changes his/her password, the customer must not use a password that can be easily guessed by a third person to give such third person the opportunity to use these Services impersonating the customer; for example, the customer shall avoid using his/her or anyone else’s birthday, ID card number, telephone number, repeated or consecutive numbers or characters as password.<br>
                 6  At any time, customers must take all reasonable actions to ensure the security of passwords. Customers must ensure that they will not disclose their passwords to any other persons, including our staff as well as persons providing assistance at technical information desk. Customers shall not record their passwords in order to prevent others from obtaining passwords easily.<br>
                 7 If a customer inadvertently discloses his/her password or suspects that anyone else knows his/her password, the customer must change the password immediately through these Services. If the password cannot be changed, the customer must notify us immediately through Phone Banking service.<br>
                 8 If a customer finds/suspects that anyone else knows his/her Verification Code, the customer shall immediately exit/log out of these Services to make the Verification Code invalid, and notify us immediately.
                 9  If a customer finds that there is any transaction not duly authorised by him/her in any of his/her accounts/services, the customer must notify us immediately via Phone Banking. Therefore, the customer must often check all his/her accounts/services to check for such transactions.<br>
                 10  CUSTOMERS SHALL USE THESE SERVICES PERSONALLY AND SHALL NOT ALLOW ANY PERSON TO USE THESE SERVICES ON THEIR BEHALF.<br>
                 11  In their use of these Services, customers shall not leave relevant computer devices or electronic service equipment, no matter whether such equipment is provided by us, and customers shall ensure that they log out of the Online Banking service system before leaving such equipment.<br>
                 12  Customers shall not operate these Services by using terminals connected to local area network (LAN) (such as in an office environment where it is impossible to ensure that no one can observe or duplicate customers’ operations and receive these Services impersonating customers).<br>
                 13  We may otherwise provide customers with security tips. Customers must ensure that they use the services safely according to the security requirements provided by us to customers (in whatever form).<br>
                 14  Customers shall take all reasonably practicable actions to ensure that the computers or other devices used by them for these Services are free of any computer viruses or similar devices or software, including but not limited to equipment regarded as software bombs, Trojan horses or worm viruses. These Services can be used via the Internet or other communication channels (as appropriate) but we are unable to control public systems, so customers must ensure that the computers or other devices they use for these Services have been provided with sufficient virus protection.<br>

            </p>

            <p class="mb-0"><br>
    
                   <b>X. Service Software and Ownership</b><br>

                 1  Every time customers use these Services, the system might automatically provide the customers with corresponding software to enable them to use these Services normally. In addition, we may also provide service software in other methods. Customers must ensure that such software is compatible with the computers or other devices used by customers for these Services and other software on such devices. WE WILL NOT ASSUME RELEVANT LIABILITY FOR THE LOSSES SUFFERED BY CUSTOMERS DUE TO INCOMPATIBILITY OF SOFTWARES.<br>
                 2  With respect to any service software and other materials or information provided by us in connection with customers’ use of these Services, customers only have a non-transferrable, temporary and non-exclusive right to use the same and may only use for these Services. We or any other third party shall have absolute ownership of the foregoing service software and other materials or information provided to customers. Such software, materials and information contain information valuable for us or such other third party, so customers shall not commit any act detrimental to the rights of us or such third party, including but not limited to:<br>
                 3  Use such software, materials and information for any purpose other than these Services;<br>
                 4 Duplicate, sell, distribute, commercial lease out, authorise, license or transfer the same for use by others;<br>
                 5 Perform de-compilation, reverse engineering, input or compilation of service software.<br>
                 6  If customers use these Services in regions outside the People’s Republic of China (such regions including Hong Kong and Macao SARs and Taiwan), customers shall be obliged to comply with local laws, including but not limited to obtaining certificates necessary for importing/exporting the foregoing service software.<br>
            </p>

            <p class="mb-0"><br>
    
                <b>XI. Online Banking Service Records</b><br>

                 Customers can inquire about Online Payment transaction records for no more than one year through these Services.<br>
                 In order to reduce relevant risks incidental to execution of instructions, customers agree to:<br>
                1 Authorise us to make audio and video records of all telephone conversations between customers and us in connection with these Services;<br>
                2 Authorise us to record all instructions submitted by customers through these Services, in writing, audio recording, video recording or in any other form determined by us from time to time.<br>
                3  We shall have the right to record matters in connection with Online Banking Services (including but not limited to electronic records in our system, and written records, video records and telephone records kept by us) and use such records as effective basis of Online Banking Services. Such records shall remain property of us, and we may process, keep, delete and use such records at any time for any purposes and according to any procedure; unless otherwise permitted by us, customers shall have no right to obtain such records and the copies and/or photocopies thereof.<br>
             </p>

             <p class="mb-0"><br>
   
                      <b>XII. Fees</b><br>

                    1 Customers shall pay relevant fees for these Services on time and in full according to the charging requirements published by us. Charging standards and requirements shall be subject to the charging requirements as published or notified by us from time to time.<br>
                     2  We will modify charging standards and requirements for these Services by making announcements or issuing notices on our website or other ways, and customers may choose whether to accept the modified charging standards and requirements. If customers refuse to accept the modified charging standards and requirements, they may give written notices to us to demand termination of all/part of Online Banking Services pursuant to relevant procedures (if any) of us. In case customers do not explicitly require us to terminate all/part of Online Banking Services and continue to retain or use these Services upon effectiveness of the modified charging standards and requirements, they will be deemed to have accepted the updated content.<br>
             </p>

             <p class="mb-0"><br>
    
                  <b>XIII. Applicable Law and Dispute Resolution</b><br>
                

                   1 The Terms and the interpretation thereof shall be governed by the laws of the People’s Republic of China (for purposes of this Article, excluding laws of Hong Kong Special Administrative Region, Macao Special Administrative Region and Taiwan).<br>
                   2 Any dispute arising under the Terms shall be resolved by customers and us through friendly negotiation, failing which, either Party may submit the dispute to the PRC court of competent jurisdiction in the place where we are located for resolution by litigation. The Terms shall not exclude and limit the right of customers and us to choose any other court of competent jurisdiction, and if such other court is going to be chosen, customers and we may agree upon the choice by entering into supplementary terms.<br>
              </p>

             <p class="mb-0">
    
                <b>XIV. Miscellaneous</b><br>

                 All clauses hereunder are independent of each other. The invalidity, illegality or unenforceability of any clause shall not affect or prejudice the legality or enforceability of the remaining clauses. In such case, we shall have the right to modify such invalid, illegal or unenforceable clause pursuant to the provisions of applicable laws and regulations and relevant industry practices, so as to make it fair and lawful.<br>
                Our failure to exercise or delay in exercising any right or remedy hereunder shall not constitute a waiver of such right or remedy nor preclude us from continuing to exercise such right or take such remedy or any other right or remedy.<br>
                Unless otherwise specified herein, we may suspend, or at any time and from time to time, amend the Terms and/or add new clauses. Termination, or any amendment of and/or any addition to the Terms shall become effective as of the designated date after we provide reasonable notice/announcement to customers. If customers refuse to accept relevant amendment and/or addition, they may give written notices to us to apply for termination of all/part of Online Banking Services pursuant to relevant procedures (if any) of us. If customers do not explicitly require us to terminate all/part of Online Banking Services and continue to retain or use these Services ON OR AFTER THE EFFECTIVE DATE OF SUCH AMENDMENT AND/OR ADDITION, SUCH AMENDMENT AND/OR ADDITION SHALL BECOME BINDING UPON CUSTOMERS.<br>
                If the Terms have an English version, such English version shall be intended for reference only; in case of any inconsistency between the English version and the Chinese version, the Chinese version shall prevail.<br>
                the Terms, as amended, will take effect as of 14 May 2021 As of the date of effectiveness, unless otherwise notified by us, the Terms will supersede all previous terms (if any) in respect of these Services.<br>
                </p>
  
  </body>
</html>