<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="header">Welcome to online Banking</h1>
 
  
     <!-- <a class="active" href="[routerLink]="['/login']"><i class="fa fa-fw fa-home"></i> Home</a>  --> 
    <!-- <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>  -->
    <!-- <a href="#"><i class="fa fa-fw fa-user"></i> Login</a> -->
  <!-- </div> -->
  <img id="myImg" class="bg"src="assets\Images\jpeg.jpg"style="width:100%">
  <form action="/action_page.php" class="container">
   

   <button class=" btn" [routerLink]="['/login']"> Login </button>
  <button class="btn"[routerLink]="['/register']"> Register </button>
  <button class="btn"[routerLink]="['/Apply']"> Apply online for Account</button> 
</form>
</body>
</html>
