body, html {
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
   
  }

  
  * {
    box-sizing: border-box;
  }
  body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: src("assets\Images\jpeg.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
   
  
  /* Add styles to the form container */
  .container {
    position: absolute;
    right: 0;
    margin: 10px;
    max-width: 300px;
    padding: 5px;
    background-color: white;
    top:60%;
    left:1%;
  }
  .header{
      background-color: rgb(34, 173, 228);
      text-align: center;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 15px; ;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .navbar {
    width: 100%;
    background-color: rgb(69, 151, 245);
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: rgb(244, 255, 246);
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  /* Set a style for the submit button */
  .btn {
    background-color: #6793b8;
    color: white;
    padding: 16px ;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  .btn:hover {
    opacity: 1;
  }