<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <form action="/action_page.php">
        <div class="container">
           <h2>Login Form</h2>
           <label for="uid"><b>User id</b></label>
           <input type="text" formControlName="user id" placeholder="someone@gmail.com"  name="email" pattern=".+@gmail.com" size="10" required>
           <br>
       
           <label for="psw"><b>Password</b></label>
          
           <input type="password" id="psw" name="psw"placeholder="Set login Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
           <br>  
           <label>
             <input type="checkbox"  name="remember"> <b>Remember me</b></label>
           <br>
           <button type="submit" [routerLink]="['/dashboard']" >Login</button>
         
           <div class="container" style="background-color:#ffffff">
           <button type="button" class="cancelbtn">Cancel</button>
           <br>
            First time User/<span style="color:blue;"class="user id" [routerLink]="['/register']"> Register ?</span>
           <br>
           Forget UserId<span style="color:blue;"class="user id" [routerLink]="['/forgetId']"> Forgot user id ?</span>
           <br>
           Forget Password<span style="color:blue;"class="user id" [routerLink]="['/forgetpass']"> Forgot Password ?</span>

     
           </div>
         </div>
        </form>
</body>
</html>


