<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="header">Welcome to online Banking</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <div class="collapse navbar-collapse" id="navbarSupportedContent " >
          <ul class="navbar-nav mr-auto mt-0">
              <li class="nav-link" routerLink="/welcome">Home</li>
              <li class="nav-link " routerLink="/login" > Login </li>
              <li class="nav-link " routerLink="/register">Register</li>
              <li class="nav-link " routerLink="/Apply">Apply online for Account</li>
          </ul>
      </div>
  </nav>
<img id="myImg" class="bg"src="assets\Images\jpeg.jpg"style="width:100%">
</body>
</html>