<!--------------dashboard side navbar----------->
<mat-drawer-container class="example-container" autosize style="height: 40em; overflow: auto;">

    <mat-drawer #drawer class="bank-sidenav" opened mode="side">
        <button mat-raised-button style="margin-top: 55px;width: 232px;" (click)="gotodetails()">
            Account Details
        </button>

        <br>
        <button mat-raised-button style="margin-top: 5px;width: 232px; " >
            Account Summary
        </button>

        <br>
        <button mat-raised-button style="margin-top: 5px;width: 232px;" [routerLink]="['/fundtransfer']">
            Fund Transfer
        </button>

        <br>
        <button mat-raised-button style="margin-top: 5px;width: 232px;">
            Account Statement
        </button>

    </mat-drawer>

    <!--------------dashboard right side contents--------------->
    <div class="jf-sidenav-content">
        <!--------------dashboard right side top menubar--------------->
        <mat-toolbar class="header-toolbar mat-elevation-z8">
            <mat-toolbar-row>
                <button mat-raised-button style="margin-right: 35px;" routerLink="working">Account Statement</button>
                <button mat-raised-button style="margin-right: 35px;" [routerLink]="['/fundtransfer']">Fund Transfer</button>
                <button mat-raised-button style="margin-right: 35px;" routerLink="working">User Profile</button>
                <button mat-raised-button style="margin-right: 35px;" routerLink="reset password">Change UserID Password</button>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="col-sm-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container>