.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid #555;
  }

  .bank-sidenav{
    width: 240px;
     border-right: 1px solid black;
  }

  mat-sidenav-container {
    height: calc(100vh - 98px);
   }
   
   .mat-list-item{
    color: white;
   }