<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Fund Transfer</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="collapse navbar-collapse" id="navbarSupportedContent " >
            <ul class="navbar-nav mr-auto mt-0">
                <li class="nav-link " routerLink="/IMPS" >IMPS</li>
                <li class="nav-link " routerLink="/NEFT">NEFT</li>
                <li class="nav-link " routerLink="/RTGS">RTGS</li>
            </ul>
        </div>
    </nav>

    <p class="mb-0">         Transfer Money enables the user to initiate payment from his bank account to any other bank account without visiting the bank enjoying from the ease of his home 
        through digital banking. Payments are categorized on the basis transfer to account within the bank, outside the bank and beyond geographical boundaries. When the 
        transfer is to an account within the bank it is an internal transfer. Transfer to an account outside the bank, but within the country is called a Domestic transfer. 
        A transfer to an account outside the country is called an International payment. This categorization takes places when a customer saves the payee bank account details during payee maintenance.
        The customer can initiate a money transfer when the payee to whom transfers are required to be made are registered in the system.
        
        Application provides a one solution to the customer through Transfer Money to cater their requirement of different types of payments. The customer has provided a single screen of Transfer money for their internal, domestic or international payments.</p>

        <p class="mb-0"><br>

1. NEFT (National Electronic Fund Transfer)
The National Electronic Fund Transfer or NEFT is the simplest and most liked form of money transfer from one bank to bank.

To make any NEFT transaction, you just need two important pieces of information -- firstly, account number and secondly, the IFSC Code of the destination account.

In NEFT, there is no cap on the amount of money that can be transferred. However, individual banks may set a limit.
        </p>

        <p class="mb-0"><br>
            2. RTGS (Real Time Gross Settlement
A Real Time Gross Settlement or RTGS is almost similar to NEFT but the minimum payment and how it credits to the destination account differs.
If you want to transfer more than 2 then you can use this. There is no upper cap on the amount.
        </p >

        <p class="mb-0"><br>
            3. IMPS (Immediate Payment Service)
Immediate Payment Service or IMPs an instant fund transfer service and it can be used anytime. IMPS can be simply defined as NEFT+RTGS.

In order to avoid fraud complaints, the cap on transaction limit is set very low. For IMPS transfer, you just need to know the destination account holder's IMPS id (MMID) and his/her mobile number.
        </p>
</body>
</html>
